<div class="pageHeader" >
    <div class="shapka">
            <a href="{% url "home" %}">
                <div class="brand"> 
                    <div class="logo">
                        <p><b class="l1w">Каркас</b><b class="l2w">Центр</b></p>
                        
                    </div>
                </div>
            </a>
            
            <div class="triger">
                    <p>Строительство загородных домов <br>по индивидуальным и типовым проектам</p>
            </div>
            <div class="consultation">
                    <a type="#" href="#" ><p>Получить консултацию</p></a>
            </div>
            <div class="contacts-head"> 
                <p>
                    <a href="https://wa.me/message/S2HVLZUQSNBBN1">
                        WhatsApp &nbsp <i class="fa fa-whatsapp" aria-hidden="true"></i> 
                    </a>
                </p> 
                <p>
                        <a href="tel:+79308200225">
                            +7(4832)30-02-25 &nbsp <i class="fa fa-phone"></i> 
                        </a>	
                </p>
                <p>
                        <a type=mail href="mailto:info@karkascentr.ru"> 
                             info@karkascentr.ru &nbsp <i class="fa fa-envelope" aria-hidden="true"></i> 
                        </a>
                </p>
                    
                <p> Мы в социальных сетях: &nbsp &nbsp
                        <a href="https://vk.com/karkascentr"><i class="fa fa-vk" aria-hidden="true" ></i></a>&nbsp
                        <a href="https://ok.ru/karkascentr.ru"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>&nbsp
                        <a href="https://www.youtube.com/channel/UCJoHMcmHq115v7XriMA5ZiQ?view_as=subscriber"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>&nbsp
                        <a href="https://www.instagram.com/karkascentr.ru/"><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp
                        <a href="https://www.facebook.com/karkascentr/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                 </p>					
            </div>
            <div class="icon-menu">
                <a href="#" class="menu-btn"><span></span></a>
            </div>
            <nav class="nav">
                
                <ul >
                    <li >
                        <a href="{% url "home" %}"><span>Главная</span> </a>
                    </li>
                    <li >
                        <a href="#"><span>Проекты</span></a>
                    </li>
                    <li >
                        <a href="#"><span>Примеры работы</span></a>
                    </li>
                    <li >
                        <a href="#"><span>Отзывы клиентов</span></a>
                    </li>
                    <li >
                        <a href="#"><span>Цены</span></a>
                    </li>
                    <li >
                        <a href="{% url "contacts" %}"><span>Контакты</span></a>
                    </li>
                </ul>	
                        
            </nav>
    </div>	
</div>

