{% extends 'mainapp/main.html' %}
{% load static %}

{% block content %}
   
 <!-- ============Первый экран=========== -->
    <div style="background: linear-gradient( #0000009d, #00000098), url({% static 'mainapp\img\first_screen_background.webp'%}) center /cover ">
        
    
        <div class="conteiner initial_scrin">
            <div class="headings">
                <h1>КАРКАСНЫЕ <br>ДОМА, ДАЧИ И БАНИ В БРЯНСКЕ</h1>
                <h3>строим под ключ по фиксированной смете с гарантией 5 лет</h3>
            </div>
            
            <div class="wrapper_form_Initial_Sckrin">

                <div>
                    <span> ОСТАВЬТЕ ЗАЯВКУ НА БЕСПЛАТНЫЙ РАСЧЁТ </span>
                </div>
                <form class="firstSckrinForm" action="" method="POST" name="form-1">

                    <div>
                        <label for="name">Имя</label> <br>
                        <input type="text" name="name" required>
                    </div>

                    <button type="submit">Отправить</button>
                </form>

                <div class="whatsapp_button_initiak_sckrin">
                    <span>или</span> <br>
                    <button><a href="https://wa.me/message/S2HVLZUQSNBBN1">Напишите нам в WhatsApp</a></button>
                </div>

            </div>

            <div class="initialSckrinAdres">
                <h5>  г. Брянск, ул Пушкина, д. 66  </h5>
            </div>
                     
        </div>

        

   
             
    </div>
    
 <!-- ==========Второй экран ============= -->
    <div class="conteiner">
         <h2>Главная </h2>
    </div>
    <div>
        <h2> {{ title }} </h2>
    </div>
        


{% endblock %}